
<h1>Verbannte Bücher</h1>
<p>
Die nationalsozialistische Herrschaft führte nicht nur zu millionenfachem Leid in der ganzen Welt. Sie bewirkte auch die Vernichtung ungeheurer materieller und kultureller Werte in Europa. Noch vor der systematischen und physischen Vernichtung von Menschen begann bereits im Frühjahr 1933 die systematische und physische Vernichtung von Büchern und anderen kulturellen Gütern. Die Bücherverbrennungen des 10. Mai 1933 waren ein erster symbolischer Akt, der sich auf akribisch erstellte Listen gründete. Die "Schwarzen Listen" wurden im Frühjahr 1933 zusammengetragen. Der Berliner Bibliothekar Dr. Wolfgang Herrmann nahm sich der Sache an, vergleichbar dem katholischen Index diejenigen Schriften zu erfassen, die in den Volksbüchereien und Leihbuchhandlungen für die Ausleihe gesperrt und nach und nach ausgesondert werden sollten.
</p>

<p>
Diese "Schwarze Liste“ ging an die Organisatoren der Aktion "Wider den undeutschen Geist“, die am Abend des 10. Mai in zahlreichen deutschen Städten in einer koordinierten Aktion mit der Vernichtung geplünderter Bibliotheksbestände begannen. Auf den Scheiterhaufen landeten nicht nur Marx und Engels, die Manns und Döblin, auch Kästner, Remarque und Hirschfeld wurden mit so genannten "Feuersprüchen“ eingeäschert.
</p>

<p>
Mit der Bildung der Reichsschrifttumskammer am 1. November 1933 begann nicht nur eine Etappe der gezielten Führung und Überwachung von Autoren, Verlagen und Buchhandel. Auch die "Ausmerzung undeutschen Schrifttums" wurde weiter perfektioniert. Die Herrmann-Liste wurde ständig ergänzt und fortgeschrieben. Mit Erlass vom 25. April 1935 erhielt die Reichsschrifttumskammer den Auftrag, "eine Liste solcher Bücher und Schriften [zu führen], die das nationalsozialistische Kulturwollen gefährden". Ein erster, geheim gehaltener Entwurf lag Ende 1935 vor. Letztlich umfasste die "Liste des schädlichen und unerwünschten Schrifttums" mehr als 4500 Einträge, vielfach das gesamte Werk eines Autors oder die gesamte Edition eines Verlages.
</p>

<p>
Um diesen Raub an Kulturgut öffentlich zu machen, wird 75 Jahre nach der Bücherverbrennung in Berlin diese Liste zur freien Recherche ins Internet gestellt.
</p>
