
<!-- /span12 /row -->
<!-- /content stop -->

                                                <div class="row">
                            <div class="span12">
                                <div class="html5-footer content-footer" role="contentinfo">
                                    <!-- NAVIGATION BEGIN: footer -->
    <div class="html5-nav">
        <ul class="nav">
            <li class="right icon-footer icon-printer_32"><a href="javascript:window.print();">Druckversion</a></li>
            <li class="right icon-footer icon-totop"><a href="#top">zum Seitenanfang</a></li>
        </ul>
    </div>
<!-- NAVIGATION END: footer -->
                                    <div class="section_splitter hidden-desktop hidden-tablet"></div>
                                    <div class="html5-nav meta-navi hidden-desktop hidden-tablet">
                                        <ul class="nav">
                                                                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <div class="container-wrapper container-footer">
            <div class="container">
                <div class="row">
                    <div class="span12">

<!-- template start: portal-footer -->
<div class="html5-footer portal-footer">
    <div>
                <p>
            Berlin.de ist ein Angebot des Landes Berlin und der BerlinOnline Stadtportal GmbH & Co. KG.            Weitere Informationen hierzu finden Sie <a href="http://www.berlin.de/wir-ueber-uns-be/impressum/"> hier </a>.        </p>
    </div>
    <div class="html5-nav">
        <ul class="nav">
            <li>Weitere Metropol-Webseiten:</li>
            <li><a href="http://www.hamburg.de/">Hamburg</a></li>
            <li><a href="http://www.muenchen.de/">München</a></li>
            <li><a href="http://www.koeln.de/">Köln</a></li>
        </ul>
    </div><!-- /html5-nav -->
</div><!-- /html5-footer -->
<!-- /template end: portal-footer -->
                    </div>
                </div>
            </div>
        </div>

<!-- Werbung -->


<!-- Zählpixel -->

<div id="cp">
<script type="text/javascript">/*<![CDATA[*/
if (typeof(DartIvwKategorie) == "undefined") DartIvwKategorie="beberlin";


var CP = location.protocol+"//boss.berlinonline.de/cp.php?a=berlin&amp;r="+escape(document.referrer)+"&amp;cat="+DartIvwKategorie+"&amp;d="+(Math.random()*100000);
document.write("<img src=\""+CP+"\" width=\"1\" height=\"1\" alt=\"\" id=\"cp_pixel\" style=\"position:absolute;width:1px;height:1px;\" />");
/*]]>*/</script>
<noscript><img src="https://boss.berlinonline.de/cp.php?a=berlin&amp;r=" alt="" /></noscript>

    <div id="ivw">

         <!-- szm pixel desktop variante -->
<!-- SZM VERSION="2.0" -->
<script type="text/javascript" src="https://script.ioam.de/iam.js"></script>
<script type="text/javascript">
var iam_data = {"mg":"yes","cp":DartIvwKategorie,"oc":DartIvwKategorie,"st":"berlin","sv":(location.pathname=="/"?"ke":"in"),"co":location.hostname}
iom.c(iam_data,1);
</script>
<!-- /SZM -->

    </div>
</div>


<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.berlinonline.de"]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.berlinonline.de/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->


