<div class="publisher-detail">
    {% include "disclaimer_top.twig" %}
    <h1>{{publisher.name}}</h1>
    <dl class="detail-list">
        <dt>Bücher</dt>
        <dd>
            <ul>
            {% for book in publisher.books %}
                <li><a href="{{book.url}}">{{book.title}}</a></li>
            {% endfor %}
            </ul>
        </dd>
    </dl>
</div>
