

                <div class="container-wrapper container-portal-header">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        
                <!-- NAVIGATION BEGIN: portal -->

                <div class="html5-header portal-header">
                    <div class="red-line"></div>
                    <div class="html5-figure main-image">
                        <a href="http://www.berlin.de/">
                            <img class="portal-logo" src="//www.berlin.de/i9f/images/berlin_de.png" alt="Zur Homepage von Berlin.de" />
                        </a>
                    </div><!-- /html5-figure -->

                    <p class="navSkip">Navigiere direkt zu:</p>
                    <ul class="navSkip">
                        <li><a href="#aural_institutionssuche">Suche</a></li>
                        <li><a href="#aural_maincontent">Inhalt</a></li>
                    </ul>

                    <div class="html5-nav" role="navigation" aria-label="Globale Portal-Links">
                        <p class="aural" id="bo-portalnavilinkslabel">Besuchen Sie auch unsere anderen Themen-Bereiche:</p>
                        <ul class="portal-navi" id="bo-portalnavilinks" aria-labelledby="bo-portalnavilinkslabel">
                            <li class="active"><a href="http://www.berlin.de/rubrik/politik-und-verwaltung/">Politik, Verwaltung, Bürger</a></li>
                            <li><a href="http://www.berlin.de/kultur-und-tickets/">Kultur &#38; Ausgehen</a></li>
                            <li><a href="http://www.berlin.de/tourismus/">Tourismus</a></li>
                            <li><a href="http://www.berlin.de/wirtschaft/">Wirtschaft</a></li>
                            <li><a href="http://www.berlin.de/special/">Themen</a></li>
                            <li><a href="http://www.berlin.de/adressen/">BerlinFinder</a></li>
                            <li><a href="http://www.berlin.de/stadtplan/">Stadtplan</a></li>
                        </ul>
                    </div><!-- /html5-nav -->
                </div><!-- /html5-header -->
                <!-- NAVIGATION END: portal -->
                    </div>
                </div>
            </div>
        </div>

                <div class="container-wrapper container-content template-land_overview">
            <div class="container">
                <div class="row">
                    <div class="span12">

                       <!-- NAVIGATION BEGIN: horizontal-->
<div class="row">
    <div class="span12">
<!--NAVIGATION BEGIN: meta-->
<div class="html5-header content-header ">
    <div class="row">
        <div class="span5">
        <div class="html5-section section-logo without-logo">
                <div class="html5-section text">
                    <span class="institution">Geschichte</span>
                <span class="title">Verbannte Bücher</span>                </div><!-- /html5-section -->
            </div><!-- /html5-section -->
        </div>
        <div class="span7">
            <div class="html5-nav meta-navi">
                <ul class="nav">
                </ul>
            </div>
<!--META BEGIN: SEARCH-->
            <div class="html5-section search navbar">
                <div class="navbar-inner">
                    <div class="nav-collapse search-collapse collapse">

            <form method="get" action="/suche/" role="search">
        <div class="control-group">
            <p class="aural" id="aural_institutionssuche">
                Suche auf der Internetseite 'Geschichte Verbannte Bücher':            </p>
            <input type="search" placeholder="Geben Sie ein Stichwort ein"
                name="q" aria-labelledby="aural_institutionssuche"
                title="Hier können Sie einen Text eingeben, um die Internetseite 'Geschichte Verbannte Bücher' zu durchsuchen"
            />
            <button class="btn gloabl-search-submit" type="submit">Suchen</button>
        </div>
    </form>

                    </div>
                </div>
            </div>
<!--META END: SEARCH-->
        </div>
    </div>
</div><!-- /html5-header -->

<!-- NAVIGATION END: meta-->
    </div>
</div>
<div class="row">
    <div class="span12">
       <div class="content-navi-wrapper navbar">
        <div class="html5-nav content-navi-top navbar-inner">
            <button class="btn btn-navbar collapsed" type="button" data-toggle="collapse" data-target=".mainnav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                        <div class="nav-collapse mainnav-collapse collapse" style="height: 0px">
                <ul class="nav level1">
                            <li class=" has-submenu">
            <a href="/geschichte/verbannte-buecher/de/buecher/alphabetisch/A" >Bücher A-Z</a>                    </li>
        <li class=" has-submenu">
            <a href="/geschichte/verbannte-buecher/de/autoren/alphabetisch/A" >Autoren A-Z</a>                    </li>
        <li class=" has-submenu">
            <a href="/geschichte/verbannte-buecher/de/verlage/alphabetisch/A" >Verlage A-Z</a>                    </li>
        <li class=" has-submenu">
            <a href="/geschichte/verbannte-buecher/de/schwarze-liste" >Schwarze Liste</a>                    </li>
                                        </ul>
            <div class="beberlin"><a class="bb-logo">beBerlin</a></div>
            </div>        
        </div>
      </div>
    </div>
</div>

<!--NAVIGATION END: horizontal-->

<!-- content start -->
<!-- row - span12 -->

