<h1>Die schwarze Liste</h1>

<p>Unmittelbar nach der nationalsozialistischen Machtübernahme im Januar 1933 begann der Berliner Bibliothekar Dr. Wolfgang
Herrmann mit der Erstellung einer „Schwarzen Liste“ derjenigen Bücher, die aus Buchhandel und Büchereien zu entfernen
wären. Es entstanden die Liste 1 „Schöne Literatur“ und die Liste 2 „Politik und Staatswissenschaften“. Gleichzeitig gab
es Hinweise für „Bücher, deren Anschaffung empfohlen wird“. Die Aussonderungsliste leitete Herrmann am 1. Mai 1933 an
die nationalsozialistische deutsche Studentenschaft weiter, um damit die Plünderung der Bestände von Bibliotheken,
Leihbüchereien und wissenschaftlichen Einrichtungen in der Aktion „Wider den undeutschen Geist“ zu lenken.</p>

<p>Die Listen wurden Anfang Mai 1933 in mehreren Zeitungen und Zeitschriften publik gemacht. Sie enthielten die Kurzangaben
zu vier Anthologien und 130 Autoren. Teilweise wurden Ausnahmen angemerkt, wenn nur bestimmte Werke eines
Schriftstellers betroffen waren. Die Liste wurde dem Propagandaministerium vorgelegt, letztlich aber nie offiziell
genehmigt.
Parallel dazu übergaben der „Kampfbund für deutsche Kultur“ gemeinsam mit dem Verlagsbuchhandel, dem
Sortimentsbuchhandel und den Leihbüchereien im Juli 1933 dem Propagandaministerium ihre abgestimmten Liste zur
Aussonderung. Sie enthielt nur 51 Autoren, von denen aber detailliert 606 einzelne Werke und eine Kurzcharakteristik des
jeweiligen Verfassers: “jüdisch-zersetzender Schriftsteller“, Aphaltschriftstellerin“ oder „kommunistischer
Tendenzschriftsteller“. Aber auch diese Liste verschwand in den Schubladen des Ministeriums. Die Buchhändler und
Bibliothekare wurden vertröstet. So hielt man sich weiter an die "Schwarze Liste" des Dr. Herrmann.</p>

<p>Im Folgenden dokumentieren wir alle Einträge der Liste</p>

<ul>
<li>Anthologie jüngster Lyrik</li>
<li>Anthologie jüngster Prosa</li>
<li>Asch, Nathan</li>
<li>Asch, Schalom</li>
<li>Babel: Budjonnys Reiterarmee</li>
<li>Barbusse, Henri</li>
<li>Barthel, Max: Die Mühle zum toten Mann</li>
<li>Becher, Johannes</li>
<li>Beer-Hofmann, Richard</li>
<li>Birkenfeld, Günther</li>
<li>Bley, Fritz: alles außer: Tier- und Jagdgeschichten</li>
<li>Bobinskaja, Karbunauri</li>
<li>Bogdanow: Das erste Mädel</li>
<li>Bonsels: alles außer: Biene Maja, Himmelsvolk, Indienfahrt</li>
<li>Braune: Mädchen an der Orga Privat</li>
<li>Brecht, Bert</li>
<li>Breitbach: Rot gegen Rot</li>
<li>Brod, Max: alles außer: Tycho Brahe</li>
<li>Brück, Anita: Schicksale hinter Schreibmaschinen</li>
<li>Carr, Robert</li>
<li>Doeblin, Alfred: alles außer: Wallenstein</li>
<li>Dos Passos</li>
<li>Dreißig neue deutsche Erzähler</li>
<li>Dreißig neue Erzähler des neuen Rußlands</li>
<li>Ebermayer: Die Nachin Warschau</li>
<li>Edschmid, Kasimir: alles außer: Timur, Die 6 Mündungen</li>
<li>Ehrenburg : alles außer: Grachus Barboeuf</li>
<li>Essig, H.</li>
<li>Ewers, H. H.: Vampir, Alraune</li>
<li>Felden, Eines Menschen Weg</li>
<li>Feuchtwanger, Lion</li>
<li>Fink, Georg</li>
<li>Frank, Leonhard: alles außer: Räuberbande, Ochsenfurter Männerquartet</li>
<li>Frey: Pflasterkästen</li>
<li>Geist, Rudolf</li>
<li>Gladkow, Fjodor</li>
<li>Glaeser, Ernst</li>
<li>Goll, Iwan</li>
<li>Gorki: Der Spitzel, Märchen d. Wirklichkeit, Eine Beichte, Wie ein Mensch geboren ward, Das blaue Leben</li>
<li>Graf, Oskar Maria: alles außer: Wunderbare Menschen, Kalender-geschichten</li>
<li>Gruenberg, Karl</li>
<li>Hašek, Jaroslav</li>
<li>Hasenclever, Walter</li>
<li>Hemingway: In einem andern Land</li>
<li>Hermann, Georg: Kubinke, Schnee, Die Nachtdes Dr. Herzfeld</li>
<li>Hirsch, Vorbestraft, Kaiserwetter</li>
<li>Hofbauer, Der Marsch ins Chaos</li>
<li>Hoffmann: Frontsoldaten</li>
<li>Holitscher, Arthur</li>
<li>Hotopp, Albert</li>
<li>Inber, Vera</li>
<li>Jacob, Heinrich Eduard: Blut und Zelluloid</li>
<li>Jiff: 12 Stühle</li>
<li>Jiles, Bela</li>
<li>Johannsen: Vier von der Infanterie</li>
<li>Kallinikow, Josef</li>
<li>Kästner, Erich: alles außer: Emil</li>
<li>Katajew</li>
<li>Kaus, Gina</li>
<li>Kellermann: Der 9. November</li>
<li>Kerr, Alfred</li>
<li>Kesten</li>
<li>Keun, Irmgard</li>
<li>Kisch, Egon Erwin</li>
<li>Klaeber, Kurt</li>
<li>Koeppen: Heeresbericht</li>
<li>Kollontay, Alexandra</li>
<li>Kurtzig, Dorfjuden</li>
<li>Kusmin</li>
<li>Lampel, Peter: nur: Verratene Jungen, Revolte im Erziehungsheim</li>
<li>Leidmann, Eva</li>
<li>Leitner, Hotel Amerika</li>
<li>Leonow: Aufbau</li>
<li>Lernet-Holenia: außer: Gedichte</li>
<li>Lewinsohn: Das Erbe im Blut</li>
<li>Lhatzko</li>
<li>Libedinsky: Jurij</li>
<li>Lidin, Wladimir</li>
<li>Liepmann, Heinz</li>
<li>Linck: Kameraden im Schicksal</li>
<li>London: Martin Eden, Zwangsjacke, Eiserne Ferse</li>
<li>Ludwig, Emil</li>
<li>Mann, Heinrich</li>
<li>Mann, Klaus</li>
<li>Meyer-Eckhard: nur: Das Vergehen des Paul Wendelin</li>
<li>Meyrink</li>
<li>Michael, F.: Die gutempfohlene Frau</li>
<li>Neumann, Robert: alles außer: Mifremden Federn</li>
<li>Newerow</li>
<li>Ognjew</li>
<li>Olbracht, Iwan</li>
<li>Ottwalt, Ernst</li>
<li>Panferow</li>
<li>Pantelejew</li>
<li>Pinthus, Kurt</li>
<li>Plievier</li>
<li>Regler</li>
<li>Remarque, Erich Maria</li>
<li>Renn, Ludwig: nur Nachkrieg</li>
<li>Ringelnatz</li>
<li>Roth</li>
<li>Rubiner, Ludwig</li>
<li>Rümann</li>
<li>Sanzara</li>
<li>Schäffer: Elli oder die sieben Treppen</li>
<li>Schirokauer, Alfred</li>
<li>Schlump</li>
<li>Schnitzler, Arthur: alles außer: Der Weg ins Freie</li>
<li>Schroeder, Karl</li>
<li>Seghers, Anna</li>
<li>Sejfullina: alles außer: Der Ausreißer</li>
<li>Sinclair, Upton</li>
<li>Sochaczewer, Hans</li>
<li>Sostschenko, Michael</li>
<li>Seraphimowitsch: Der eiserne Strom</li>
<li>Ssologub, Fjodor</li>
<li>Suttner, Die Waffen Nieder</li>
<li>Tetzner: Haus Urian</li>
<li>Thomas, Adrienne</li>
<li>Tokunga</li>
<li>Toller, Ernst</li>
<li>Traven: Regierung, Der Karren</li>
<li>Tucholsky, Kurt</li>
<li>Türk</li>
<li>Ulitz: Ararat, Worbs, Testament</li>
<li>Unruh: alles außer: Offiziere, Louis Ferdinand</li>
<li>Vanek, Karl</li>
<li>Wassermann, Jakob</li>
<li>Wedding, Ede und Unku</li>
<li>Wegner, Armin T.</li>
<li>Weiskopf</li>
<li>Werfel: alles außer: Barbara, Verdi, Tod des Kleinbürgers</li>
<li>Woehrle: Querschläger</li>
<li>Zweig, Arnold</li>
<li>Zweig, Stefan</li>
</ul>

