<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS FILE IS MERGED WITH THE ROUTES FROM app/config/settings.xml
    AND THE SETTINGS FILES THAT ARE INCLUDED FROM THERE.
-->
<ae:configurations 
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0" 
    xmlns="http://agavi.org/agavi/config/parts/settings/1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <ae:configuration>
        <!--
             Use this block to override the default system actions.

             E.g. you probably want to have an "index" page that uses
             on of your projects actions.
        -->
        <system_actions>
            <system_action name="default">
                <module>Common</module>
                <action>Index</action>
            </system_action>
            <system_action name="error_404">
                <module>Common</module>
                <action>NotFound</action>
            </system_action>
        </system_actions>

        <settings>
            <!-- Change this to whatever you like to name your project -->
            <setting name="app_name">Verbannte Bücher</setting>
            <setting name="project_prefix">banned_books</setting>
            <!--
                 DBs are disabled by default to give you a working site
                 even without DBs being configured
            -->
            <setting name="use_database">true</setting>
        </settings>

        <!--
            Specify ESI includes without the scheme
        -->
        <settings prefix="esi_include.">
            <setting name="imperia_head">/geschichte/verbannte-buecher/__i9/ohne/head.inc</setting>
            <setting name="imperia_top">/geschichte/verbannte-buecher/__i9/ohne/top.inc</setting>
            <setting name="imperia_foot">/geschichte/verbannte-buecher/__i9/ohne/foot.inc</setting>
        </settings>
    </ae:configuration>

    <ae:configuration environment="(development.*)">
         <settings prefix="esi_include.">
            <setting name="imperia_head">https://www.berlin.de/geschichte/verbannte-buecher/__i9/ohne/head.inc</setting>
            <setting name="imperia_top">https://www.berlin.de/geschichte/verbannte-buecher/__i9/ohne/top.inc</setting>
            <setting name="imperia_foot">https://www.berlin.de/geschichte/verbannte-buecher/__i9/ohne/foot.inc</setting>
        </settings>
    </ae:configuration>

    <ae:configuration environment="preview">
    </ae:configuration>

    <ae:configuration environment="production">
    </ae:configuration>
</ae:configurations>

