<p>
Die Autorinnen und Autoren und Titel, die auf diesen Seiten aufgelistet werden, waren aufgrund der "Liste des schädlichen und unerwünschten Schrifttums" von den Nationalsozialisten verboten. Sie werden hier zu dokumentarischen Zwecken zur Recherche zur Verfügung gestellt. Bitte beachten Sie unsere Hinweise zur Suche in dieser Liste. Die Liste wurde auf der Basis eines automatischen Texterkennungs-Verfahrens digitalisiert. Für Richtigkeit der Angaben übernehmen wir keinerlei Gewähr.
</p>
