<div class="html5-nav content-navi-left">
    <h3 class="title">
        <a href="{{ro.getBaseHref()}}">Verbannte Bücher</a>
    </h3>
    <ul class="nav">
        <li><a href="{{ro.gen('book.byletter')}}">Bücher A-Z</a></li>
        <li><a href="{{ro.gen('author.byletter')}}">Autoren A-Z</a></li>
        <li><a href="{{ro.gen('publisher.byletter')}}">Verlage A-Z</a></li>
    </ul>
</div>
