/* ----- Global reset ----- */
* {margin:0;padding:0}
/* font:inherit nur fuer "table" notwendig */
h1,h2,h3,h4,p,dl,ul,li {margin-bottom:0.4em;}
h1,h2,h3,h4,h5,dt,th {font-weight:bold;}
h1 {font-size:2em;}
h2 {font-size:1.2em;}
h3 {font-size:1em;}
h4 {font-size:1em;}
li {margin-left:1.5em;}
dt {margin-top:1em;font-weight:bold;}
small {font-size:80%;}
strong,b{font-weight:bold;}
table {border-collapse:collapse;border-spacing:0;font-size:100%;}
textarea,input,select {font:inherit;}
pre,code,tt {font-family:"Courier New",monospace;font-size:80%;}
em,i {font-style:italic;}
blockquote {margin-left:5em;margin-right:5em;}

.table {display:table;}
  .ie6 .table, .ie7 .table {display:block;}
.tr {display:table-row;}
  .ie6 .tr, .ie7 .tr {display:block;overflow:hidden;}
.td {display:table-cell;}
  .ie6 .td, .ie7 .td {display:block;overflow:hidden;float:left;}

article, aside, figure, footer, header, hgroup, nav, section {display:block;}
input[type=button], input[type=submit], button {cursor:pointer;}
optgroup {font-weight:bold;margin-top:5px;}
  optgroup option {font-weight:normal;margin-left:10px;}

button {width:auto; overflow:visible;}
.ie7 img {-ms-interpolation-mode:bicubic;}
td, th {vertical-align:top;text-align:left;}

.clear {clear:both;}

/* ----- Global rules ----- */
.topbox .clear {padding-top:5px;}
.boblind,
body .mobile_only,
#mobile_main_navigation {display:none;}
.blocklinks a, a.blocklinks {display:block;}
  .ie6 .blocklinks a, .ie6 a.blocklinks {display:inline;}
img {border:none;}
ul {list-style-image:url(images/list_bullet.png);}
  ul li {margin-left:1.1em;}
  ul li.back{list-style-image:url(list_bullet_back.png);}
hr {margin:2em 0;border:none;border-top:5px solid #436acf;}
ul.horizontal {display:block;overflow:hidden;list-style:none;margin-bottom:0;}
  .horizontal li{display:inline;}
  ul.horizontal>li,.ie6 .horizontal li {display:inline;list-style:none;float:left;margin-left:0;margin-right:0.5em;margin-bottom:0;padding-right:0.5em;}


/* ----- Basic layout ----- */
body {font:13px Arial,Helvetica,sans-serif;padding:0;}
#bo_box, #bo_nav_foot {padding:20px;}
#bo_container p {line-height:1.28em;}

#bo_footer {margin-top:0px;font-size:0.85em;}
#bo_nav_foot {font-size:0.9em;}

.accessibility {display:block;margin-left:-10000px;height:0px;}

/* ----- Special user groups ----- */

/*
  Colors:
  #B60033: dark red
  #e50033: medium red

  #2d509a: link dark blue
  #436acf: dark blue
  #95ace7: medium blue
  #b4ccff: medium light blue
  #e6edff: light blue

  #eeeeee: light gray
*/
  h1, h1 a{color:#B60033;font-weight:normal;}
  /*h2,h3,h4 {color:#436acf;} > Ticket #2913*/
  h2 {color:#000000;border-bottom:4px solid #e6edff;padding-bottom:0.2em;margin-bottom:1em;}
  a {color:#2d509a;text-decoration:none;}
    a:hover {text-decoration:underline;}
    h3 a,h4 a {/*color:black;*/}
  /*.non-ie img.dia {border:5px solid white;-moz-box-shadow:0 0 0.8em #999;-webkit-box-shadow:0 0 0.8em #999;box-shadow:0 0 0.8em #999;margin:0.8em;padding:0;}*/
  .sprite_bde {background:url(images/sprite_bde.png) no-repeat;}
  span.sprite_bde {max-height:40px;width:1em;color:transparent;display:inline-block;text-indent:-5000px;}

ol {padding-left:8px}
#bomain_content ol {padding-left:0.8em}

@media screen {
#bo_box {overflow:hidden;}
  .noscreen {display:none;}

  body{background:#dddddd;position:relative;}
  .banner_placeholder {height:100px;}
  #bo_page {width:980px;position:relative;top:0px;background:#ddd;color:#000;}
    .center #bo_page {margin:0 auto;}
    .center2 #bo_page {padding-right:160px;margin:0 auto;}
  #bo_header {z-index:1;height:144px;background:#B2CAFF url(images/gradient_header.png) repeat-x top left;border:0px solid #2d509a; border-left:none;border-right:none;position:relative;}
  .singlenav #bo_header,.x-singlenav #bo_header {border-bottom:none;height:116px;/*margin-bottom:-6px;*/}
    #bo_header .meta_navigation2, #bo_header #meta_navigation {z-index:50;overflow:visible;font-size:0.9em;background:url(images/bg_topnavi.png) repeat scroll 0 0 
transparent;height:20px;left:660px;position:absolute;top:5px;width:300px;padding:6px 0px 1px 0px;}
      #bo_header #meta_navigation li {margin:0px 0px 0px 10px;position:relative;top:0px;font-size:1em;}
      #bo_header #meta_navigation .link_map {background:url(images/icon_stadtplan.png) no-repeat scroll right center transparent;padding-right:15px;}
      #bo_header #meta_navigation .link_lang {background:url(images/icon_deutschland.png) no-repeat scroll right center transparent;padding-right:40px;}
    #bo_header #search {position:absolute;left:660px;top:38px;width:300px;}
      #bo_header #search .form-element-wrapper {border:1px solid #2d509a;background:#fff;height:22px;font-size:1em;overflow:hidden;width:270px;float:left;}
      #bo_header #search .form-element-wrapper input {background:#fff;border:none;margin:3px 0 0 8px;width:230px;float:left;padding:1px 0;}
      #bo_header #search button {position:absolute;right:-2px;border:none;background:transparent url(images/sprite_bde.png) 5px -600px no-repeat;width:30px;height:24px;margin-left:4px;text-indent:-10000px;}

      p.topline{background:#2D509A url(images/border_red.png) 660px 0px repeat-y; width:100%; height:5px; margin:0px;padding:0px;}

    #bo_header .home, #bo_header #home {position:absolute;left:20px;top:25px;}
    #bo_header #claim {position:absolute;left:197px;top:47px;}
    #main_navigation {position:absolute;width:974px;padding-left:6px;margin-top:86px;background:url(images/gradient_nav.png) repeat-x top left #2d509a;/*border-top:1px solid #2d509a;*/}
      #main_navigation .navigation {height:53px;}
         .singlenav #main_navigation .navigation {height:auto;}
         .x-singlenav #main_navigation .navigation {height_:auto;}

      #main_navigation a:hover,
      #bo_header #main_navigation ul.navigation .sub a:hover {text-decoration:none;color:#e50033;}
      #main_navigation ul.navigation a {text-transform:uppercase;font-size:1em;color:#fff;font-weight:bold;}
      #bo_header #main_navigation ul.navigation li.inactive {background:#E6EDFF;border-bottom:1px solid #2D509A;height:24px;}
      #main_navigation ul.navigation li {margin-right:0;margin-left:0;margin-bottom:0px;padding:0;border-left:0px solid transparent;border-right:1px solid #2d509a;background-image:none;}
        #main_navigation ul.navigation li a {padding:4px 14px 6px;}
      #main_navigation ul.navigation li:hover,
      #main_navigation ul.navigation li.active,
      #bo_header #main_navigation ul.navigation li.superactive {height:auto;}
      #main_navigation ul.navigation li:hover,
      #main_navigation ul.navigation li.active,
      #bo_header #main_navigation ul.navigation li.superactive {background:#fff;border-left:0px solid #2d509a;border-right:1px solid #2d509a;}
        #main_navigation ul.navigation li:hover a,
        #main_navigation ul.navigation li.active a,
        #bo_header #main_navigation ul.navigation li.superactive a {color:#2d509a;text-shadow:none;}
        #main_navigation ul.navigation li.active a {font-weight:bold} /*prevention of wabbling effects*/
      #main_navigation ul.navigation .sub {display:none;position:absolute;background:#fff;bottom:0px;left:0px;top:25px;/*height:23px;*/width:973px;padding-left:7px;border-bottom:5px solid #2d509a;}
        .singlenav #main_navigation ul.navigation .sub,
        .x-singlenav #main_navigation ul.navigation .sub1 {display:none !important;}
        #main_navigation ul.navigation .active .sub,
        #main_navigation ul.navigation li:hover .sub,
        #main_navigation ul.navigation li.superactive .sub {display:block;z-index:2}
        #main_navigation ul.navigation li.superactive .sub {z-index:3}
        /*#main_navigation ul.navigation li.inactive ul.sub {display:none;}*/
        #main_navigation ul.navigation .sub li {display:block;border:none;}
        #main_navigation ul.navigation .sub li:hover,
        #main_navigation ul.navigation .sub li.active {border:none;}
        #bo_header #main_navigation ul.navigation .sub a {font-size:0.9em;font-weight:normal;text-transform:none;padding:4px 15px;}

  #bo_supernavigation {z-index:45;top:48px;left:20px;border-bottom:5px solid #2D509A;border-right:2px solid #2D509A;border-left:2px solid #2D509A;padding:1.5em 22px 
0;overflow:hidden;display:none;background:white;position:absolute;width:896px;}
    #bo_supernavigation .col {width:275px;float:left;margin-right:25px;}
      #bo_supernavigation .col li {list-style-image: url(images/list_bullet.png);border-bottom:1px dotted #aaa;padding-bottom:0.5em;}
        #bo_supernavigation .col li:last-child {border:none;}
    #bo_supernavigation .col3 {margin-right:0;}
    #bo_supernavigation .sub {margin:1em 0 2em;}
      #bo_supernavigation .sub li {margin-right:2em;}
    #bo_supernavigation .inner {display:block;}
    #bo_supernavigation h3 {font-size:1.4em;margin-bottom:1em;font-weight:normal;}
    #bo_supernavigation .close {position:absolute;right:10px;bottom:10px;font-size:0.8em;color:#999;display:block;height:10px;}
      #bo_supernavigation .close .sprite_bde {background-position:0px -79px;width:9px;}
      #bo_supernavigation .teaser {border:none;height:auto;width:auto;}

  #bo_container {-moz-box-shadow:0.25em 0.25em 0.5em #666;-webkit-box-shadow:0.25em 0.25em 0.5em #666;box-shadow:0.25em 0.25em 0.5em #666;background:white;color:black;margin-bottom:1em;}
    #bo_content {margin-top:20px;}
    .bo_stadtplan .bo_content {padding:20px;}
    #bo_mainbar {float:left;width:620px;}
    #bo_sidebar, .another_col {float:left;width:300px;margin-bottom:2em;min-height:10em;}
      #bo_sidebar, .yet {margin-left:20px;}
  #bo_footer {color:#436acf;overflow:hidden;clear:both;padding:20px;}
    #bo_footer a {color:#2d509a;}
    #bo_footer li {border-right:1px solid;}
      #bo_footer li:last-child {border:none;}
    #bo_footer>* {float:right;}
    #bo_footer>ul {margin-right:2em;}
  #bo_nav_foot {margin-top:5px;background:#436ACF;}
    .ie6 #bo_nav_foot {display:none;}
    #bo_nav_foot a {color:white;}
    #bo_nav_foot a:hover {color:black;}
    #bo_nav_foot ul {list-style-image:none;}
    #bo_nav_foot ul.horizontal>li {border-left:5px solid #95ace7;font-weight:bold;padding-left:1em;width:13.5em;min-height:20em;margin-bottom:1em;}
    #bo_nav_foot ul.horizontal li ul {font-weight:normal;display:block;list-style:none;margin-top:1em;font-size:0.95em;}
    #bo_nav_foot ul.horizontal li li {font-weight:normal;display:block;list-style:none;margin-left:0;margin-bottom:0.5em;}


    /* sponsored link list */
    .i_spencer ul {list-style:none;border:1px solid #eeeeee;}
      .i_spencer ul li {font-size:0.9em;background:url(images/list_bullet.png) no-repeat scroll 7px 5px;margin:0px; padding:4px 5px 4px 20px;}
        .i_spencer ul li.odd {background-color:#fdfdfd;}
        .i_spencer ul li.even {background-color:#eeeeee;}
      .i_spencer .inner {padding:0px;}
      .vspi .i_spencer ul ,.t_a_vert .i_spencer ul{margin:0px -0.5em;}
      .teaser .i_spencer {margin-bottom:0px;}
      .teaser .i_spencer h3 {}
     .i_spencer a.linkadd {display:inline-block;margin:10px 3px 0px;padding:3px 7px 4px;background:url(images/gradient_nav.png) repeat-x scroll left top 
#2D509A;color:#FFFFFF;font-weight:bold;font-size:0.9em;border:1px solid #2D509A;}

}

.bde_container {margin-bottom:2.3em;}
  .bde_container:after {display:table;float:none;clear:both;content:"";}
  #bo_mainbar .bde_container.land {margin-top:-6px;}
  .bde_container .teaser {border-bottom:1px solid #e6edff;}
  .bde_container .teaser:last-child,
   .bde_container .teaser.last,
   .bde_container .teaser:last-child .inner ul {border-bottom:none;margin-bottom:0px;padding-bottom:0px;}
  .bde_container h2 .sprite_bde {float:right;background-position:0px -97px;width:13px;}
  .land {background:#e6edff;padding:0.5em 0.8em;margin-top:0px;}
    .land .teaser, .land h2 {border-color:white;}
    .land h2 {background:url(images/sprite_bde.png) no-repeat 0 -279px;padding-left:24px;}
    .land h4 {/*background:#436acf;color:#ffffff;font-size:1em;padding:3px 13px;*/}
.teaser {margin-bottom:1.2em;padding-bottom:0.7em;}
  .teaser .inner:after { content:""; display:block; line-height:0; height:0; clear:both; }
  .teaser h3 a {display:block;}
  .parahraphs h3 {margin-top:1em;}
    .paragraphs .i_add {margin-top:2em;}
/* floating ul fix */
.t_float ul {display:inline-block;}

  .t_stage {position:relative;margin-bottom:2em;border-bottom:none;}
    .t_stage .t_img {width:100%;}
    .t_stage a img.target{display:none }
    .t_stage .inner {position:absolute;bottom:40px;right:30px;width:190px;color:white;background:url(images/border_redblue_80.png) -470px 0;padding:15px 70px 15px 20px;}
      .ie6 .t_stage .inner {top:120px;}
      .t_stage .inner h3 {font-size:19px;line-height:22px;}
      .t_stage .inner a {color:white;}
      .t_stage .inner p {margin-bottom:0;}
        .t_stage a.more {background:url(images/sprite_bde.png) no-repeat scroll 0 -520px transparent;height:45px;width:18px;margin-top:-18px;position:absolute;top:50%;right:20px;text-indent:-4000px;}
          .t_stage a.more .sprite_bde {display:none;}

  .t_image .t_img {margin-bottom:1em;}
  .t_a_vert, .vspi {background:#eeeeee;padding:0.5em !important;}
    .t_a_vert .t_a_vert, .vspi .vspi,.t_a_vert .vspi, .vspi .t_a_vert{background:transparent;padding:0em;}
    .t_a_vert h2, .vspi h2 {border-color:#ddd}
    .t_a_vert h3 small,.vspi h3 small {float:right;font-weight:normal;background:url(images/sprite_bde.png) no-repeat 0 -375px; color:#666; 
display:block;width:70px;height:20px;text-indent:-5000px;margin-top:-5px;text-transform:uppercase;font-size:1em;}
    .t_a_vert.bde_container span.top,.vspi.bde_container span.top {display:block; background:url(images/sprite_bde.png) no-repeat right -700px; height:10px;}
    .t_a_vert.include span.top,.vspi.include span.top {display:block; background:url(images/sprite_bde.png) no-repeat right -700px; height:10px;}
    .t_a_vert.teaser span.top,.vspi.teaser span.top {display:block; background:url(images/sprite_bde.png) no-repeat right -700px; height:10px;}
    .t_a_vert.teaser span.top .teaser span.top,
    .lang-en .vspi.teaser span.top .teaser span.top{background:none;}
    .lang-en .t_a_vert.teaser span.top,.lang-en .vspi.teaser span.top {display:block; background:url(images/sprite_bde.png) no-repeat right -732px; height:10px;}
    .lang-en .t_a_vert.teaser span.top .teaser span.top,.lang-en .vspi.teaser span.top .teaser span.top{background:none;}
  .t_float {overflow:hidden;}
    /*.t_float .t_img,.t_float .image .t_img {float:left;margin:0 1em 1em 0;}*/
    .t_float .image {float:left;margin-bottom: 1em;}
    .bde_container .t_float .image {float:left;margin-bottom: 1em; margin-right:1em;}
      .image a.i_link {display:block;}
    .t_float .left {margin:0 1em 1em 0;}
    .t_float .right {margin:0 0 1em 1em;}
    .t_float .center {margin:0 0 1em 0;}
.image {position:relative; overflow:hidden;display:block;max-width:100%;}
  .image.left {max-width:50%;}
    .image.left img {}
    .image.left .target {display:none;}
  .image .t_img {margin:0; float:none;}
  .image .copyright {position:absolute; bottom:0px; right:0px;padding:2px 8px;text-decoration:none; color: #fff; font-size:9px; background:#000; background:rgba(0,0,0,0.75); }
    .image .copyright a {color:#fff;}
  .tab_stage .image .copyright {display:none;}
  .tab_stage .inner .copyright {background:transparent;font-size:0.7em;display:block;margin-top:5px;}
.photolist {width:350px;font-size:0.8em;}
  .ie6 .photolist {width:auto;}
  ul.photolist li {width:80px;margin:0 30px 1.2em 0em;padding:0;}
    .ie6 ul.photolist li {width:75px;margin:0 25px 2em 0;}
  .photolist a {display:block;}
  .photolist .p_img {width:80px;margin-bottom:0.5em;}
  .photolist .p_desc {background:url(images/list_bullet.png) no-repeat 0px 2px;padding-left:12px;}

div.partner { padding:10px 20px; font-size:0.85em; text-align:center; background:#ddd; color:#000; }
div.partner a[target="_blank"]:after { background: url("https://www.berlin.de/.img/ml/link_extern.gif") no-repeat scroll 0 1px transparent; content: " "; display: inline-block; height: 11px; width: 
12px; }
  /* ---- TabTeaser ---- */
   .tab .tab_control li {color:#2d509a;cursor:default;padding:5px;background:#D1DFEF;margin-right:1px;}
   .tab .tab_control li a {color:#2d509a;padding:5px;outline:0;}
   .tab .tab_control li.active {background:#ffffff;border-color:#eeeeee #eeeeee -moz-use-text-color;border-style:solid solid none;border-width:1px 1px medium;color:#B60033;}
     .tab .tab_control li.active a {color:#B60033;cursor:default !important;}
   .tab .tabcontent {display:none;border:1px solid #EEEEEE;padding:10px;}
   .tab .active {display:block;}
   .tab .image .copyright {position:static;}
  /* ---- TabSTAGE ---- */
 .tab_stage {z-index:0;position:relative;margin-bottom:2.5em;height:300px; background:#000;overflow:hidden;}
   .tab_stage .teaser {margin:0 !important;padding:0 !important;}
   .tab_stage .tab_control {z-index:1;font-size:0.8em;margin:0;position:absolute;bottom:0;left:-1px;/*background:#436acf;border-top:1px solid white;*/width:621px;background:url(images/tab_stage.png) 100% 
-38px no-repeat;}
   .tab_stage .tab_control li {color:white;/*background:#436acf;border-right:1px solid white;*/background:url(images/tab_stage.png) 0 -38px no-repeat;margin:0;padding:17px 0 0.5em;}
     .tab_stage .tab_control li a {border-right:1px solid #FFFFFF;color:white;padding:5px 8px;outline:0;margin:0px;}
   .tab_stage .tab_control li.active {color:white;background:url(images/tab_stage.png) center -138px no-repeat;border:none;}
     .tab_stage .tab_control li.active a {color:white;padding:5px 8px;margin:0px;}
   .tab_stage .t_stage {position:absolute;width:100%;display:none;}
     .tab_stage .t_stage.active {display:block;}
  /* ---- TabTopBox ---- */
  .topbox .tab .tabcontent {border:none;}
    .topbox .tab .tab_control {background:#fff;}
   .topbox .tab .tab_control li {color:#436ACF;}
   .topbox .tab .tab_control li a {color:#436ACF}
   .topbox .tab .tab_control li.active {background:#3965C0;border:none;padding-bottom:2px;}
     .topbox .tab .tab_control li.last{margin-right:0px;}
     .topbox .tab .tab_control li.active a {color:#FFF;cursor:default !important;border:none;}
   .topbox .tab .active {display:block;}
  /* ---- TabTopBox Mail Login ---- */
    .topbox .form input {border:1px solid #2D509A;padding:2px;margin:5px;margin-left:0;}
     .topbox .tab .tab_control li {padding:0;background:#ECF2FF;font-size:0.9em;margin-bottom:-1px;border-color:#A9BDE7 #A9BDE7 #FF0000;border-style:solid;border-width:1px 1px 
0;-moz-border-radius-topright: 3px; -moz-border-radius-topleft: 3px;-webkit-border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px;border-top-right-radius:3px;border-top-left-radius:3px;}
    .topbox .tab .tab_control li a {display:block;padding:5px 10px;/*width:129px;*/color:#2D509A;font-weight:bold;}
    .topbox .tab .tab_control li.last a {border-right:none;}
    #tab_special li {margin-left:0;list-style-image:none;list-style-type:none;}
    #tab_special li a {display:block;padding:5px;padding-left:25px;color:#fff;background:transparent url(images/icons.png) no-repeat;}
    #tab_special a {color:#fff;}
    #tab_special .col {width:49%;}
    .topbox .tab .tabcontent {padding:0;}
    .topbox .bde_container .teaser {border-bottom:none;}

  .ie6 .tab_control {display:none}
  .ie6 #bo_container .topbox .tab_control {display:block;overflow:hidden}
    .ie6 #bo_container .topbox .tab_control li {display:block;width:130px;margin-left:0;float:left;}
    .ie6 #bo_container .topbox .tab_control a {display:block;}
    .ie6 #bo_container .topbox #tab_special li {height:20px;}
  ul.tab_control {text-transform:uppercase;margin-bottom:-1px;}


.nearby .hr {font-size:1.4em;font-weight:normal;margin:0.5em 0pt;}

.geomap {height:300px;clear:both;border:1px solid #666;}
  .geomap .overlayControl button {font-weight:normal;color:#666;}
  .geomap .overlayControl button.on {font-weight:bold;color:black;}
.more {white-space:nowrap;}
  .more span.sprite_bde {background-position:2px -34px;}

.banner {position:absolute;top:0;left:0px;}
.skyscraper {position:absolute;top:250px;left:990px;}
.rectangle {background:#eeeeee;}

/* ------ Topbox ------ */
.topbox {background:#3965C1 url(images/gradient_topbox.png) repeat-x;color:#ffffff;height:300px;margin-bottom:2.5em;overflow:hidden;}
.topbox a {color:#ffffff;}
.topbox .bde_container {background:transparent;padding:12px 15px 5px;}
  .topbox .bde_container h2{margin-bottom:0.3em;color:#ffffff;border-bottom:none;}
    .topbox .bde_container.land h2{background:url(images/sprite_bde.png) no-repeat scroll 0 -659px transparent;}
  .topbox .bde_container h3{}
  .topbox .bde_container h4{border-top:4px solid #E6EDFF;margin-bottom:0.7em;padding-top:0.8em;}
  .topbox .bde_container .azlist{width:290px;margin-bottom:1em;}
  .topbox .top_container_list li a {color:#fff}
  .topbox .col{float:left; width:47%}

/* ----- AZ List in Topbox - TODO: global rules?----- */
.topbox .azlist {list-style:none;overflow:hidden;margin-left:-6px;}
  .topbox .azlist a {float:left;font-weight:normal;line-height:1.7em;text-align:center;display:block;height:22px;width:21px;color:#ffffff;}
  .topbox .azlist a:hover {color:#436acf;background:#ffffff;text-decoration:none;}

/* ----- form in Topbox ----- */
.topbox form {}
  .topbox form span.box{display:block;float:left;margin-bottom:10px;margin-right:15px;}
    .topbox form span.box label{width:50px;margin-top:2px;}
    .topbox form span.box .date{}
    .topbox input{padding:1px 3px;}
    .topbox button{padding:1px 5px;}
      .topbox form span.box input{width:100px;}
  .topbox form span.full{display:block;margin-bottom:10px;clear:both;}
    .topbox form span.full input{}
  .topbox form label {display:block;}
  .topbox form select {width:110px;padding:1px 0 1px 3px;}
  .topbox form h2 {background:none;}
  .topbox form button {clear:both;}
  .topbox form .bottom_links {margin-top:15px;}
    .topbox form .bottom_links a{/*background:url(images/list_bullet.png) no-repeat 0px 3px; padding-left:10px;*/}
  .topbox form label input{margin-right:5px;}

.topbox .tickets input.date {background: url(/.img/crystal/16x16/actions/1day.png) no-repeat scroll 103px center #FFFFFF;padding-right: 22px;}


#tab_special li {margin-left:0;list-style-image:none;list-style-type:none;}
#tab_special li a {display:block;padding:5px;padding-left:25px;color:#fff;background:transparent url(images/icons.png) no-repeat;}
#tab_special a {color:#fff;}
#tab_special .col {width:49%;}
.topbox .tab .tabcontent {padding:0;-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius:3px; border:0px;}
#tab_events input {border:1px solid #3965C0;padding:2px;}
#tab_events label {margin-top:5px;margin-bottom:3px;}

/* ----- Sidebar Searchform ------ */
#bo_sidebar form.search {/*margin-bottom:20px;margin:10px 12px 30px;*/}

/* ----- orte infoblock ----- */
tr.infoblock th {padding:0.5em 0.5em 0.5em 0;}
tr.infoblock td {padding:0.5em 0;}


/* ------ PDF Download Links ------ */
 div#bomain ul.download {list-style:none outside none;}
.download div.pdf {margin-top:0;min-height:2em;padding-top:5px;clear:both;}
  .download div.pdf img {height:2.2em;width:3.3em;}
   div.pdf img {border:medium none;}
  .download div.pdf p, .download div.pdf span {margin-bottom:0px;margin-left:38px;}
    .download div.pdf p a {position:relative;display:inline;float:none;height:auto;width:auto;}
      div.pdf a {position:absolute;}
    /*div.pdf {margin:1em 0 0;min-height:40px;}*/
    /*.download div.pdf a {height:20px;width:33px;}*/
    /*div.pdf a {display:block;height:40px;width:66px;}*/
    /*div.pdf img {margin:-4px 0 5px 5px;}*/
    /*div.pdf p {float:none;margin-bottom:0.3em;margin-left:70px;position:relative;}*/


/* ------ Terminlisten ------ */
dl.breit dt {width:13.5em;float:left;margin-top:0px;}
dl.breit dd {padding-left:14.5em;margin-bottom:1.2em;}


/* ------ Language Selector ------ */
.lang_top_arrow {width:100%;border:0px solid;position:relative;right:0;top:0px;display:none;background:url(images/lang_arrow_top.png) no-repeat scroll right center transparent;height:12px;}
  .active-hover .lang-sel,
  .active-hover .lang_top_arrow {display:block;}
.lang-sel {width:100px;margin-top:0px;display:none;padding:4px 4px 7px;position:absolute;right:0px;top:24px;background:#FFFFFF;border:1px solid #2d509a;}
  .lang-sel li {margin:0 0 3px;display:block;float:none;clear:both;}
    .lang-sel li span {background:url(images/flags.png) no-repeat scroll 0 0 #FFFFFF;clear:both;display:block;float:left;height:16px;margin:1px 5px 1px 1px;padding:0;width:22px;}
    .lang-sel li .bo-de {background-position:0 -90px;}
    .lang-sel li .bo-en {background-position:0 -30px;}
    .lang-sel li .bo-fr {background-position:0 -60px;}
    .lang-sel li .bo-it {background-position:0 -120px;}
    .lang-sel li .bo-cn {background-position:0 0;}
    .lang-sel li .bo-po {background-position:0 -180px;}
    .lang-sel li .bo-jp {background-position:0 -150px;}
    .lang-sel li .bo-ru {background-position:0 -210px;}
    .lang-sel li .bo-tr {background-position:0 -240px;}

/* ---- EN IT FR Sites ---- */
.lang-en #bo_header,
.lang-fr #bo_header,
.lang-it #bo_header {
    height: 89px; /* height without navigation */
    border-bottom: 5px solid #2D509A;
}

#locale_en #bo_header #main_navigation,
#locale_fr #bo_header #main_navigation,
#locale_it #bo_header #main_navigation  {height:26px;}



/* ----- Popup ----- */
  .popup #bo_page {width:100%;}
  .popup .skyscraper,
  .popup #meta_navigation,
  .popup #search,
  .popup #main_navigation,
  .popup #bo_supernavigation {display:none;}
  .popup #bo_header {height:64px;border:3px solid #2d509a;border-left:none;border-right:none;}
  .popup #bo_header #home {left:20px;top:10px;}
  .popup #bo_box {margin-top:10px;}
  .popup #bo_container {margin-bottom:0;}
  .popup #bo_footer {margin-top:10px;}

/* ----- correct the display of the fancybox to the left corner to avoid problems with ad-overlays ----- */
#fancybox-wrap {
    left: 0px !important;
}


@media print {
  .noprint, ul.horizontal, #main_navigation, #meta_navigation, #bo_nav_foot, #bo_footer, #bo_header #top, .banner, .skyscraper, .tab_control, #search, .topbox, .partner, .accessibility{display:none;}
  #bo_header {padding:1em;margin-bottom:1em;border-bottom:1pt solid black;position:relative;}
    #bo_header #claim {position:static;top:1em;right:1em;}
  #bo_box {padding:0px;margin:0px;}
  #seitenende {position:static;}
}

/* ie6 Bugfixing */
@media screen {
  .oldbrowser {display:none;position:absolute !important;top:0;left:0;z-index:9999999;width:100%;}
  .ie6 .banner {top:0px;left:-40px;}
  .ie6 span.top {background-image:none;}
  .ie6 .t_a_vert span.top,.ie6 .vspi span.top {display:block; background:url(images/sprite_bde.png) no-repeat right -700px; height:10px;}
  .ie6 p.topline {font-size:1px;}
  .ie6 #bo_header {background-image:none;}
  .ie6 #bo_header #meta_navigation {font-size:11px;}
  .ie6 #bo_header #main_navigation {margin-top:90px;}
  .ie6 #bo_header #main_navigation a:hover,
  .ie6 #bo_header #main_navigation .active a {background:#fff;color:#2D509A}
  .ie6 #bo_header #main_navigation ul li,
  .ie6 #bo_header #meta_navigation li {display:inline;}
  .ie6 #bo_header #main_navigation ul li a {display:block;float:left;}
  .ie6 #bo_header #main_navigation ul li ul li {margin:0;padding:0;display:block;float:left;}
  .ie6 #bo_header #main_navigation ul li ul li a {display:inline;}
  .ie6 .land span.image {width:290px;overflow:hidden;}
  .ie6 .another_col {margin:0px;overflow:hidden;}
  .ie6 .yet {margin-left:20px;}
  .ie6 .another_col .land,
  .ie6 .another_col .t_a_vert,
  .ie6 .another_col .vspi,
  .ie6 .another_col .bdeanz,
  .ie6 .dropzone .t_a_vert,
  .ie6 .dropzone .vspi,
  .ie6 .dropzone .bdeanz,
  .ie6 .dropzone .land {padding:5px; overflow:hidden;}
  .ie6 .teaser {background-image:none;}
  .ie6 #bo_sidebar  {margin-left:20px;margin-right:0;overflow:hidden;}
  .ie6 #bo_footer {text-align:right;padding:20px;}
  .ie6 #bo_footer ul {width:auto;margin-right:80px;}
  .ie6 #bo_footer ul li {border-right:none;}
  .ie6 .topbox #tab_special li{margin:0px;padding:0px;height:35px;}
  .ie6 .topbox #tab_special ul{margin:0px;padding:0px;}
  .ie6 .topbox li#Anreise,
  .ie7 .topbox li#Anreise {display:inline;}
  .ie6 .topbox form span.box,
  .ie7 .topbox form span.box {margin-right:7px;}
  .ie6 .image .copyright {bottom:2px;}
  .ie7 .image .copyright {bottom:3px;}
  .ie7 .bde_container .teaser .inner li {/*margin-left:1.5em;*/}
  .ie6 ol li {margin-left:2em;}
}

/* ----- Calendar ----- */
.calendar {margin-left:-70px;background:url(/.img/opacity/black_60.png) repeat scroll 0 0 transparent;color:#444444;font-family:sans-serif;font-size:11px;position:absolute;width:300px;z-index:9999;}
.calendar div {background:none repeat scroll 0 0 #E6EDFF;border:1px solid #666666;left:-4px;position:relative;top:-4px;width:99%;}
.calendar table {border-collapse:collapse;border-spacing:0;border-top:1px solid #999999;clear:both;font-size:1em;width:100%;}
.calendar th {background:none repeat scroll 0 0 #EEEEEE;color:#000000;font-size:1em;}
.calendar td {font-size:1em;text-align:center;}
.calendar td.days {background:none repeat scroll 0 0 #FFFFFF;}
.calendar td.weekend {background:none repeat scroll 0 0 #EEEEEE;}
.calendar td.today {background:none repeat scroll 0 0 #E6EDFF;}
.calendar a {color:#000000;display:block;padding:2px;text-decoration:none;}
.calendar td a:hover {background:none repeat scroll 0 0 #E6EDFF;}
.calendar td a.inactive {color:#AAAAAA;}
.calendar td a.inactive:hover {background:none repeat scroll 0 0 #EEEEEE;}
.calendar a.close {float:right;margin:2px 4px;}
.calendar strong {display:block;float:left;text-align:center;width:9em;}
.calendar a.b_link {display:block;float:left;margin-left:4px;padding:2px;width:10px;}
.calendar td.special {border-left:1px solid #999999;text-align:left;}
.calendar ul {margin:0;padding-left:0;}
.calendar li {list-style:none;padding-left:2px;margin:0px;}

/* ----- jQuery ----- */
.ui-sortable .sprite_bde {cursor:move;}
.ui-sortable-dragging {background:white;-moz-box-shadow:0 0 0.5em #95ace7;-webkit-box-shadow:0 0 0.5em #95ace7;box-shadow:0 0 0.5em #95ace7;}
.ui-sortable-hover {background:#E6EDFF;}
.ui-clickable {cursor:pointer !important;}



/*
 * experimental new bde table and form layout, dldb like
 **/
  /* text elements */
  table.bde_table a{font-weight: bold;color:#0C4AA1;}
  /* table elements */
  table.bde_table {background:#EAEAE5;border: 1px solid #D1D1CF;border-collapse: collapse;padding: 0;text-align: left;width: 100%;}
   table.bde_table thead,
   table.bde_table tfoot tr {color: #888888;background-color:#F7F7F4;}
    table.bde_table th {color: #888888;background:#F7F7F4;padding: 9px 4px 9px 5px;text-align: left;vertical-align: top;}
    table.bde_table tr {background: url(/.img/bde/headline_border.png) repeat-x scroll left top transparent;}
    #bo_page table.bde_table .even, #bo_page table.bde_table .odd {background-color:transparent;}
          #bo_page table.bde_table tr[class~="even"] + tr[class~="even"] {background-image:none;}
          #bo_page table.bde_table tr[class~="odd"] + tr[class~="odd"] {background-image:none;}
      table.bde_table thead tr {background-image:none;}
    table.bde_table td {max-width: 300px;padding: 10px;word-wrap: break-word;text-align: left;vertical-align: top;}
      table.bde_table tfoot td{padding: 7px 10px;text-align:left;font-size:0.9em !important;vertical-align:middle;}
    table.bde_table caption {margin-bottom:1em;}
    body form .bde_table input,
    body form .bde_table textarea,
    body form .bde_table select {float:none;width:auto;}
  /* form elements */
  #bo_page form.bde_form {background:#EAEAE5; padding:0px 10px; margin-bottom:10px; clear:both;}
    form.bde_form input,
    form.bde_form textarea,
    form.bde_form select {width: 340px;border-color: #000000 #BFBFB1 #BFBFB1 #000000;border-right: 1px solid #BFBFB1;border-style: solid;border-width: 1px;font-weight:normal;color: 
#333333;font-family: inherit;font-size: 1em;line-height: 1.2em;margin-bottom: 0px;padding:3px 0px 2px 5px;}
    form.bde_form select {padding:1px 1px 2px 7px;}
    form.bde_formbtn,
    form.bde_form button,
    form.bde_form input[type="submit"] {border-radius: 12px 12px 12px 12px;border-width:1px;background:#0C4AA1;color:#fff;font-weight: bold;padding:1px 10px 2px;cursor:pointer;}
    form.bde_form input[type="checkbox"],
    form.bde_form input[type="radio"] {border: medium none;width: auto;}
    form.bde_form input.checkbox {border: medium none;width: auto;}
    #bo_page form.bde_form fieldset {position:relative;border: medium none; padding-bottom:10px;}
      #bo_page form.bde_form fieldset fieldset{margin:20px 0px;}
      form.bde_form fieldset legend {float:left;margin-left:-10px;background:#B2B2B0;border-top: 0px solid #EAEAE5;color: #FFFFFF;font-size: 15px;font-weight: bold;height: 22px;margin-bottom: 
10px;padding-left: 10px;padding-top: 4px;width:102%;}
        form.bde_form fieldset legend a{color:#ffffff;}
      form.bde_form fieldset fieldset legend {background:none;}
        form.bde_form fieldset fieldset legend a{color:#0C4AA1;font-size:11px;}
      .ie7 form.bde_form fieldset legend {margin-left:-17px;margin-top:-14px;}
    form.bde_form label {clear:both;background: url(/.img/bde/headline_border.png) repeat-x scroll left bottom transparent;color: #636362;display: block;font-size: 18px;margin-bottom: 
10px;margin-top: 15px;padding-bottom: 7px;padding-top: 0;}
    form.bde_form span,
    form.bde_form div.span {}
    form.bde_form .half input,
    form.bde_form .half textarea,
    form.bde_form .half select,
    form.bde_form .half label{width:40%;}
    form.bde_form small {clear: both;color: #333333;display: block;font-size: 0.8em;}
    form.bde_form label.checkbox {background: none repeat scroll 0 0 transparent;clear: both;font-size: 1em;margin: 0 0 5px;padding: 0;}
    form.bde_form .right {float:right;}
      form.bde_form .right a {margin-left:10px;}
    form.bde_form label.required {color:#CC0000 !important;}
    form.bde_form input.error {background:#FFBABA;}
    form.bde_form span.apps_1616_mono {text-indent:-5000px;}

