<div class="html5-section search jsb_ jsb_search_field" data-jsb="{{jsb_options|json_encode}}">
    <form method="GET" action="{{ro.gen('common.search')}}">
        <input type="text" class="span4 search-input" name="query" value="{{query}}" autocomplete="off">
        <input type="submit" class="btn" value="Suchen"/>
    </form>
</div><!-- /html5-section -->
