
/* ie 7 */

/* Lists */
ol {
    list-style: inside;
    list-style-type: decimal;
    display: inline;
}
ol li {
    margin-left: auto;
    padding-left:   15px;
    text-indent:    -15px;
}
ol li ol {
    margin-left: 0px !important;
}
ul {
    display: inline;
}

.textile ul li {
    text-indent:    -15px;
}
/* content navi left */
ul.nav {
    display: block;
}
/* linkup */
div.toplink div.icon-totop {
    display: inline;
    zoom: 1;
}
/* breadcrumb */
#breadcrumb {
    clear: both;
    padding-bottom: 15px;
}
#breadcrumb >li{
    clear: none;
    text-indent: 0;
    display: inline;
    float: left;
}
.image {
    background-color: #FFFFFF;
}
.html5-figure .image {
    background-color: #FFFFFF;
}
.html5-figure .image .main-image {
    background-color: #FFFFFF;
}
.caption {
    background-color: rgb(236,236,236);
    color: #000000;
}


